<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finish</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css')}}"/>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <p class="text">The word has been added to the database. If you want to add another word, click here to go back to the main form.</p><br>
	<a href="/form">
     <button class="submit text">Going back</button>
   	</a>
</body>
</html>